/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}